<div id="popup-wrap" class="popup-wrap">
    <div id="popup" class="popup hidden">
        <div class="popup-feedback-wrap hidden">
            <ul id="popup-feedback" class="popup-feedback">
                <li class="popup-feedback__item">
                    <div class="popup-feedback__header">
                        <div class="popup-feedback__username">Сергей</div>
                        <div class="popup-feedback__details">Кафе 12.01.2020</div>
                    </div>
                    <div class="popup-feedback__text">Очень хорошее место!</div>
                </li>
            </ul>
        </div>
        <a href="#" id="close-button" class="popup__close"></a>
        <form action="" id="sendForm" class="form">
            <h3 class="popup__title">Отзыв:</h3>
            <input type="text" name="name" placeholder="Укажите ваше имя" class="form__input">
            <input type="text" name="place" placeholder="Укажите место" class="form__input">
            <textarea name="text" placeholder="Оставить отзыв" class="form__input form__input--textarea"></textarea>
            <button type="submit" class="button">Добавить</button>
        </form>
    </div>
</div>
<div id="map" class="map"></div>