.button {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #FF8663;
    border-radius: 3px;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    transition: background .3s;
}

.button:hover {
    background: #ff5722;
}